{{ define "main" }}

{{ partial "banner" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.Description "bannerStyle" .Params.banner) }}

<main class="container">
      {{ $p := (slice "Marketing Operations" "Demand Marketing" "Marketing Technology" "Digital Transformation") }}
      {{ $pages := where .Site.RegularPages ".Params.tags" "intersect" $p}}	
				{{ $paginator := .Paginate $pages 10 }}	
				{{ range $paginator.Pages.ByPublishDate.Reverse }}
            {{ .Render "li"}}
      {{ end }}
  {{ partial "pagination" . }}
</main>

{{end}}
