{{ define "main" }}

{{ partial "jumbotron" . }} 
<main class="post-template container">
    <article>
            <header>
                <h2 class="title xs-show">{{.Title}}</h2>		
                <div class="meta">{{ .Date.Format "2 January 2006" }} | {{ partial "tags" . }}</div>			
            </header>

          {{ .Content }}

            <footer>
                <p class="author">
                    <a rel="author" href="/about" title="Alan Chatfield"><img src="//www.gravatar.com/avatar/60fa755d6b89ee9f9d59d0f957711f40?s&#x3D;64&amp;d&#x3D;mm&amp;r&#x3D;x"></a>
                    Written by <strong><a rel="author" href="/about" title="Alan Chatfield">Alan Chatfield</a></strong><br>
                    <span class="muted"><span class="xs-show">Martech Solutions Architect and </span><span class="xs-hide"></span>Digital Marketing Consultant at <a href="//www.crmtdigital.com">CRMT Digital</a><span class="xs-hide"> and Marketo Certified Solutions Architect. Advisor on marketing effectiveness and marketing technology optimisation.</span></span></p>
            </footer>
    </article> 
    {{ $p := (slice "Marketing Operations" "Demand Marketing" "Marketing Technology" "Digital Transformation") }}
    {{ if or (in .Params.tags "Marketing Operations") (in .Params.tags "Demand Marketing") (in .Params.tags "Marketing Technology") (in .Params.tags "Digital Transformation") }}
          {{ partial "pager2" . }}
    {{ else }}
          {{ partial "pager" . }}
    {{ end }}
    <footer class="subscribe-form post-navigation">
        <h3 class="message-header" style="margin:0 0 20px"><strong>Get the latest articles straight to your inbox</strong></h3>
        <p class="message-header xs-hide">Sign up for biweekly email updates on the latest martech trends</p>
        <a href="https://go.alanchatfield.net/subscribe/" class="button"><span style="">Subscribe</span></a>
    </footer>
</main>    
{{ end }}
