{{ define "main" }}
{{ if .Params.image }}
<style>
.blog-cover { background-image: url({{ .Params.image }}) }	 
{{ $src := ($.Site.GetPage "section" "images").Resources.GetMatch (strings.TrimPrefix "/images/" . ) }}
{{ with $src }} 
{{ $large := $src.Resize "1200x" }}	
{{ $medium := $src.Resize "750x" }}
{{ $small := $src.Resize "475x" }}

@media (max-width: 1023px){ .blog-cover { background-image: url({{ $large.Permalink }})} }
@media (max-width: 767px){ .blog-cover { background-image: url({{ $medium.Permalink }})} }
@media (max-width: 480px){ .blog-cover { background-image: url({{ $small.Permalink }})} }	
{{ end }}
</style>
{{ end }}
<header class="blog-cover">
    <section>
        <div class="container">
            <h1>{{.Title}}</h1>
            <h3>{{.Params.excerpt}}</h3>	
        </div>
    </section>
</header>
<main class="page-template container">
    <article>
        <header>
            <h2 class="title xs-show">{{.Title}}</h2>				
        </header>    
        {{ .Content }}
    </article>
</main>  
{{ end }}
