{{ $a := replace .Params.image "https://alanchatfield.ghost.io/" "https://www.alanchatfield.net/" }}
{{ $a340 := replace ( replace $a "&w=2000" "&w=340" ) "/content/images/" "/content/images/size/w340/" }}
{{ $a475 := replace ( replace $a "&w=2000" "&w=475" ) "/content/images/" "/content/images/size/w475/" }}
{{ $a750 := replace ( replace $a "&w=2000" "&w=750" ) "/content/images/" "/content/images/size/w750/" }}
<section class="index img">
	<a href="{{ .Permalink }}" rel="prefetch"><img srcset="{{ $a340 }} 340w, {{ $a475 }} 475w, {{ $a750 }} 750w"
sizes="(max-width: 767px) 100vw, (max-width: 1023px) 50vw" src="{{ $a750 }}" class="avatar" alt=""></img></a>
	<div>
		<a href="{{ .Permalink }}" rel="prefetch">
			<h2 class="title">{{ .Title }}</h2>
			<p>{{ .Params.excerpt }}</p>
			<div class="meta">{{ .Date.Format "Jan 2006" }} | {{ partial "tags" . }} </div>
		</a>
	</div>
</section>
