<style>
.blog-cover { background-image: url({{ .Params.image }}) }	
{{ with .Params.image }} 
{{ $image := index .Params.image }}
{{ $src := resources.Get $image }}
{{ $full := $src.Resize "1920x" }}	
{{ $large := $src.Resize "1200x" }}	
{{ $medium := $src.Resize "750x" }}
{{ $small := $src.Resize "475x" }}

@media (max-width: 1023px){ .blog-cover { background-image: url({{ $large.RelPermalink }})} }
@media (max-width: 767px){ .blog-cover { background-image: url({{ $medium.RelPermalink }})} }
@media (max-width: 480px){ .blog-cover { background-image: url({{ $small.RelPermalink }})} }	
{{ end }} 
</style>
