    <footer class="site-footer">
        <div class="container">
 			<nav class="social links col-3">
				<a href='/opinion/'>Opinion</a>				
				<a href='/privacy-policy/'>Privacy</a>
			</nav>   
            <nav class="social col-3">
					<a href='http://twitter.com/alan_chatfield' target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
	<a href='https://www.linkedin.com/in/alan-chatfield' target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a>	
	<a class="icon-feed" href="/blog/index.xml" title="RSS Feed"><i class="fas fa-rss fa-lg"></i></a>
            </nav>
			<nav class="copyright col-3">
				&copy; {{ .Date.Format "2006" }} Alan Chatfield.
			</nav> 			
        </div>
    </footer>

</body>

</html>
