<style>
.blog-cover { background-image: url({{ replace .Params.image "/content/images/" "/content/images/size/w2000/" }}) }	 
@media (max-width: 1023px){ .blog-cover { background-image: url({{ replace .Params.image "/content/images/" "/content/images/size/w1200/" }})} }
@media (max-width: 767px){ .blog-cover { background-image: url({{ replace .Params.image "/content/images/" "/content/images/size/w750/" }})} }
@media (max-width: 480px){ .blog-cover { background-image: url({{ replace .Params.image "/content/images/" "/content/images/size/w475/" }})} }	
</style>
<div class="blog-cover {{.Params.banner}}">
    <section>
        <div class="container">
            <h1 class="title">{{.Title}}</h1>
            <h3>{{.Params.excerpt}}</h3>
            <div class="social">
                <a class="icon-tw" href='http://twitter.com/share?text={{.Title }}&url={{ .Permalink }}' target="_blank"><i class="fab fa-twitter fa-sm"></i></a>
                <a class="icon-li" href='https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{.Title }}' target="_blank"><i class="fab fa-linkedin-in fa-sm"></i></a>			
                <a class="icon-fb" href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" target="_blank"><i class="fab fa-facebook-f fa-sm"></i></a>				
            </div>			
        </div>
    </section>			
</div>
