	<section class="site-nav">
	<nav id="navigation">
		<div class="container">
			<a id="brand" href="/">	
				<img src="/img/mvticon-fff.png" alt="">				
				<span>Alan Chatfield<br><em>Marketing via Technology</em></span> 			
			</a>
			<div class="tagline">
				<button class="btn btn-outline" href="/blog"><i class="fas fa-bars"></i></button>
				<ul class="nav" role="menu">
    <li class="nav-blog" role="menuitem"><a href="/blog/">Blog</a></li>
    <li class="nav-demand-marketing" role="menuitem"><a href="/marketing/">Demand Marketing</a></li>
    <li class="nav-digital-transformation" role="menuitem"><a href="/technology/">Digital Transformation</a></li>
    <li class="nav-marketing-technology" role="menuitem"><a href="/martech/">Marketing Technology</a></li>
    <li class="nav-news-current-affairs" role="menuitem"><a href="/opinion/">News &amp; Current Affairs</a></li>
    <li class="nav-about-the-author" role="menuitem"><a href="/about/">About the Author</a></li>
    <li class="nav-about-crmt" role="menuitem"><a href="/crmt/">About CRMT</a></li>
</ul>

			</div>	
		</div>
	</nav>
</section>
