	<section class="site-nav">
	<nav id="navigation">
		<div class="container">
			<a id="brand" href="/">	
				<img src="/img/mvticon-fff.png" alt="">				
				<span>Digital Intersections<br><em>A blog by Alan Chatfield</em></span> 			
			</a>
			<div class="tagline">
				<button class="btn btn-outline" aria-label="Menu"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="15" fill="#ffffff" viewBox="0 0 24 24" style=""><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"></path></svg></button>
				<ul class="nav" role="menu">
    <li class="nav-blog" role="menuitem"><a href="/">Home</a></li>
    <li class="nav-archive" role="menuitem"><a href="/blog/">Archive</a></li>						
    <li class="nav-digital-transformation" role="menuitem"><a href="/technology/">Digital Transformation</a></li>				
    <li class="nav-marketing-ops" role="menuitem"><a href="/marketing-ops/">Marketing Operations</a></li>					
    <li class="nav-marketing-technology" role="menuitem"><a href="/martech/">Marketing Technology</a></li>
    <li class="nav-about-the-author" role="menuitem"><a href="/about/">About the Author</a></li>
    <li class="nav-about-crmt" role="menuitem"><a href="/crmt/">About CRMT Digital</a></li>
    <li class="nav-subscribe" role="menuitem"><a href="/subscribe/">Subscribe to Newsletter</a></li>					
</ul>

			</div>	
		</div>
	</nav>
</section>
