	<section class="site-nav">
	<nav id="navigation">
		<div class="container">
			<a id="brand" href="/">	
				<img src="/img/mvticon-fff.png" alt="">				
				<span>Marketing<small> via </small>Technology<br><em>A blog by Alan Chatfield</em></span> 			
			</a>
			<div class="tagline">
				<button class="btn btn-outline"><i class="fas fa-bars"></i></button>
				<ul class="nav" role="menu">
    <li class="nav-blog" role="menuitem"><a href="/">Home</a></li>
    <li class="nav-demand-marketing" role="menuitem"><a href="/marketing/">Demand Marketing</a></li>
    <li class="nav-digital-transformation" role="menuitem"><a href="/technology/">Digital Transformation</a></li>
    <li class="nav-marketing-ops" role="menuitem"><a href="/marketing-ops/">Marketing Operations</a></li>					
    <li class="nav-marketing-technology" role="menuitem"><a href="/martech/">Marketing Technology</a></li>
    <li class="nav-about-the-author" role="menuitem"><a href="/about/">About the Author</a></li>
    <li class="nav-about-crmt" role="menuitem"><a href="/crmt/">About CRMT Digital</a></li>
    <li class="nav-subscribe" role="menuitem"><a href="https://go.alanchatfield.net/subscribe/">Subscribe via Email</a></li>					
</ul>

			</div>	
		</div>
	</nav>
</section>
