	<footer class="navigation post-navigation" role="navigation">
		<div class="nav-links">
    {{ if .PrevInSection }}
			<div class="nav-previous">
				<a href="{{ .PrevInSection.Permalink }}" rel="prev">
					<div class="the-navigation-arrow">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -256 1792 1792" id="svg3013" version="1.1" width="100%" height="100%">
						  <g transform="matrix(1,0,0,-1,387.25424,1338.5763)" id="g3015">
						    <path d="M 742,-37 90,614 Q 53,651 53,704.5 53,758 90,795 l 652,651 q 37,37 90.5,37 53.5,0 90.5,-37 l 75,-75 q 37,-37 37,-90.5 0,-53.5 -37,-90.5 L 512,704 998,219 q 37,-38 37,-91 0,-53 -37,-90 L 923,-37 Q 886,-74 832.5,-74 779,-74 742,-37 z" id="path3017" style="fill:currentColor"/>
						  </g>
						</svg></div> 
					<div class="meta-nav"><span class="small-part">Previous Post</span>
						<div class="next-prev-name">{{ .PrevInSection.Title }}</div>
					</div>
				</a>
			</div>
    {{ end }}
        {{ if .NextInSection }}
			<div class="nav-next">
				<a href="{{ .NextInSection.Permalink }}" rel="next">
					<div class="meta-nav"><span class="small-part">Next Post</span>
						<div class="next-prev-name">{{ .NextInSection.Title }}</div>
					</div>
					<div class="the-navigation-arrow">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -256 1792 1792" id="svg3025" version="1.1" width="100%" height="100%">
						  <g transform="matrix(1,0,0,-1,349.28814,1330.9831)" id="g3027">
						    <path d="m 1099,704 q 0,-52 -37,-91 L 410,-38 q -37,-37 -90,-37 -53,0 -90,37 l -76,75 q -37,39 -37,91 0,53 37,90 l 486,486 -486,485 q -37,39 -37,91 0,53 37,90 l 76,75 q 36,38 90,38 54,0 90,-38 l 652,-651 q 37,-37 37,-90 z" id="path3029" style="fill:currentColor"/>
					 	 </g>
						</svg></div>
				</a>
			</div>
        {{ end }}
		</div>
	</footer>
