{{ define "main" }}

{{ partial "banner" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "bannerStyle" .Params.banner) }}

	<article class="container grid long">			
			<section class="index img">
				<div class="container author">
<img src="//www.gravatar.com/avatar/60fa755d6b89ee9f9d59d0f957711f40">
					<h2>Hello,</h2>
					<p>I am Alan Chatfield, Senior Digital Marketing Strategist at <a href="//www.crmtechnologies.com">CRMT</a>. 
					<br><br>										
					Welcome to my personal blog. I write about marketing technology and B2B marketing, with a primary focus on how marketers can make the most effective use of their martech stack.<br><br>
<a href="/about/">Continue reading <span aria-hidden="true">→</span></a></p> 		
				</div>
			</section>
		{{ range first 1 (or (index .Site.Taxonomies.tags "digital-transformation") (index .Site.Taxonomies.tags "demand-creation") (index .Site.Taxonomies.tags "marketing-operations") (index .Site.Taxonomies.tags "marketing-technology")) }}
			{{ .Render "li" }}

    {{ range (.GetTerms "tags") }}
        <div class="{{ .LinkTitle }}">
    {{ end }}	
		{{ end }}		
</article>	
	<article class="container grid demand-creation">	
		<nav class="pagination" role="navigation">	
			<a class="older-posts" href="/{{.Params.section1.link}}">See more <span aria-hidden="true">→</span></a>
		</nav>		
		<h2>{{.Params.section1.heading}}</h2>
		<p>{{.Params.section2.text}}</p>
		    {{ range first 4 (index .Site.Taxonomies.tags "demand-creation") }}
			{{ .Render "li" }}
		    {{ end }}
	</article>
	
	<article class="container grid digital-transformation">	
		<nav class="pagination" role="navigation">	
			<a class="older-posts" href="/{{.Params.section2.link}}">See more <span aria-hidden="true">→</span></a>
		</nav>		
		<h2>{{.Params.section2.heading}}</h2>
		<p>{{.Params.section2.text}}</p>
		    {{ range first 4 (index .Site.Taxonomies.tags "marketing-operations") }}		
			{{ .Render "li" }}
		    {{ end }}
	</article>

	<article class="container grid marketing-automation">	
		<nav class="pagination" role="navigation">	
			<a class="older-posts" href="/{{.Params.section3.link}}">See more <span aria-hidden="true">→</span></a>
		</nav>		
		<h2>{{.Params.section3.heading}}</h2>
		<p>{{.Params.section3.text}}</p>
		{{ range first 4 (index .Site.Taxonomies.tags "marketing-technology") }}			
			{{ .Render "li" }}
		{{ end }}
	</article>
	
	<article class="container grid noimg opinion">	
		<nav class="pagination" role="navigation">	
			<a class="older-posts" href="/{{.Params.section4.link}}">See more <span aria-hidden="true">→</span></a>
		</nav>		
		<h2>{{.Params.section4.heading}}</h2>
		<p>{{.Params.section4.text}}</p>
		{{ range first 4 (index .Site.Taxonomies.tags "digital-transformation") }}
			{{ .Render "li" }}
		{{ end }}
	</article>
	</div>    
{{end}}
