{{ define "main" }}

{{ partial "banner" (dict "imageUrl" .Params.image "title" "Technology from the Crossroads" "subtitle" .Params.subtitle "bannerStyle" .Params.banner) }}

{{ $p := (slice "Marketing Operations" "Demand Marketing" "Marketing Technology" "Digital Transformation" "Marketing Automation") }}
{{ $pages := where .Site.RegularPages ".Params.tags" "intersect" $p}}
{{ $tp := (slice "Digital Transformation" "Marketing Automation") }}
{{ $tpages := where .Site.RegularPages ".Params.tags" "intersect" $tp}}
{{ $mp := (slice "Marketing Operations" "Demand Marketing" "Marketing Technology") }}
{{ $mpages := where .Site.RegularPages ".Params.tags" "intersect" $mp}}
{{ range first 1 $pages }}
    {{ range (.GetTerms "tags") }}
        <!-- main class="home-template {{ .LinkTitle | urlize }}"-->
        <main class="home-template digital-transformation">
    {{ end }}
{{ end }}		
	<article class="container grid long">			
			<section class="index img">
				<div class="container author">
					<img src="//www.gravatar.com/avatar/60fa755d6b89ee9f9d59d0f957711f40?s=64&amp;d=mm&amp;r=x" alt="">
					<h2>Hello,</h2>
					<p>Welcome to my personal blog. I am Alan Chatfield, Marketing Operations Consultant at <a href="//www.crmtdigital.com">CRMT Digital</a>. 
	<br><br>										
		I write about marketing technology and B2B marketing, with a focus on how marketers can make the most effective use of their martech stack.<br><br>

						<a href="/about/">Continue reading <span aria-hidden="true">→</span></a>
</p>		
				</div>
			</section>
		{{ range first 1 (where .Site.RegularPages "Section" "post") }}
			{{ .Render "summary" }}
		{{ end }}		
	</article>		

	<article class="container info">
		<nav class="pagination" role="navigation">	
			<a class="older-posts" href="/blog/">See more <span aria-hidden="true">→</span></a>
		</nav>		
		<h2>{{.Params.section4.heading}}</h2>
		<p>{{.Params.section4.text}}</p>
	</article>	
	<article class="container grid digital-transformation">	
		{{ range first 4 (where .Site.RegularPages "Section" "post") }}			
			{{ .Render "li" }}
		{{ end }}
	</article>	
		
	<article class="container info">
		<nav class="pagination" role="navigation">	
			<a class="older-posts" href="/news/">See more <span aria-hidden="true">→</span></a>
		</nav>		
		<h2>{{.Params.section1.heading}}</h2>
		<p>{{.Params.section1.text}}</p>
	</article>		
	<article class="container grid marketing-operations">	
		    {{ range first 3 (where .Site.RegularPages "Section" "news") }}		
			{{ .Render "li" }}
		    {{ end }}
	</article>	

	<!--article class="container info">
		<nav class="pagination" role="navigation">	
			<a class="older-posts" href="/{{.Params.section3.link}}">See more <span aria-hidden="true">→</span></a>
		</nav>		
		<h2>{{.Params.section3.heading}}</h2>
		<p>{{.Params.section3.text}}</p>
	</article>
	<article class="container grid marketing-technology">	
		    {{ range first 4 (index .Site.Taxonomies.tags "marketing-technology") }}
			{{ .Render "li" }}
		    {{ end }}
	</article-->	
		
	<article class="container info">
			<nav class="pagination" role="navigation">	
				<a class="older-posts" href="/newsletter/">See more <span aria-hidden="true">→</span></a>
			</nav>		
			<h2>Get the latest martech trends straight to your inbox</h2>
			<p>Sign up to my newsletter for actionable insights into martech and marketing ops</p>
		</article>
	<article class="container">	
		<section class="index img" style="margin: 0 1% 3em;width: auto;background: #fff !important;">
			<a href="/subscribe/" rel="prefetch"><img srcset="https://marketingviatechnology.com/content/images/size/w475/2023/08/photo-1534685785745-60a2cea0ec34.jpg 340w, https://marketingviatechnology.com/content/images/size/w750/2023/08/photo-1534685785745-60a2cea0ec34.jpg 475w, https://marketingviatechnology.com/content/images/size/w1200/2023/08/photo-1534685785745-60a2cea0ec34.jpg 750w" sizes="(max-width: 767px) 100vw, (max-width: 1023px) 50vw, 340px" src="https://marketingviatechnology.com/content/images/size/w475/2023/08/photo-1534685785745-60a2cea0ec34.jpg" class="avatar" alt=""></a>
			<div>
			    <footer class="subscribe-form post-navigation">
			        <h2 class="message-header" style="margin:0 0 20px"><strong>Sign up for the Marketing via Technology newsletter</strong></h2>
			        <p class="message-header xs-hide" style="margin:0 0 20px">Get the latest martech strategies straight to your inbox. Discover how effective use of technology can accelerate demand and unlock the value of marketing operations.</p>
			        <a href="/subscribe/" class="button" target="_blank"><span style="">Subscribe</span></a>
			    </footer>
				
			</div>
		</section>
	</article>		

	</div>    
</main>
{{end}}
